body {
    margin: 0;
    padding: 0;
    /* font-family: Helvetica; */
    font-family: 'Roboto Condensed', sans-serif;
}

.top{
    background-color: rgb(255, 248, 234);
    display: flex;
    flex-direction: row;
}

.titulo{
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
    color: rgb(0, 59, 40);
    padding-top: 10px;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.topper1{
    background-image: url(../img/design1image2.jpg);
    background-size: cover;
    height: 400px;
}

.topper2{
    background-image: url(../img/design1image1.jpg);
    background-size: cover;
    height: 400px;
}

.topper3{
    background-image: url(../img/hockey1.jpg);
    background-size: cover;
    height: 400px;
}

.topper4{
    background-image: url(../img/hockey2.jpg);
    background-size: cover;
    height: 400px;
}

.topper5{
    background-image: url(../img/hockey3.jpg);
    background-size: cover;
    height: 400px;
}

.topper6{
    background-image: url(../img/design1image2.jpg);
    background-size: cover;
    height: 400px;
}

.subtitulo{
    background-color: rgb(124, 4, 0);
    display: flex;
    justify-content: center;
}

.subtitulo h2{
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 800;
    color: rgb(201, 154, 0);
    margin: 5px
}

#logo{
    margin-left: 35%;
    margin-bottom: 1%;
    margin-top: 0.5%;
}

.contenido{
    display: flex;
    background-color:rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

.rules{
    margin-left: 200px;
    margin-right: 200px;
    text-align: justify;
    line-height: 25px;
}

.rules h3{
    text-align: center;
}

.rules h2{
    text-align: center;
    color: rgb(124, 4, 0);   
}

.trules {
    text-align: center;
}

.subs {
    text-decoration: underline;
}

.enlaces{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    font-weight: 600;
    background-color: rgb(201, 154, 0);
}

.enlaces a{ 
    /* background-color: rgb(124, 4, 0) ; */
    text-decoration: none;
    color: rgb(124, 4, 0);
    text-align: center;
    padding: 7px;
}

.info table{
    display: flex;
    justify-content: center;
    text-align: center;
}

.prules{
    text-align: justify;
    font-size: 20px;
}

.parrafos{
    margin-left: 40px;
    margin-right: 120px;
    text-align: justify;
    line-height: 25px;
    font-size: 20px;
}

.parrafos h3{
    /* font-size: large; */
    font-size: 25px;
    color: rgb(124, 4, 0);
}

.tabla{
    margin-left: 40px;
    margin-right: 120px;
    text-align: justify;
    line-height: 25px; 
    font-size: 20px;
}

.tabla h2{
    /* font-size: large; */
    font-size: 25px;
    color: rgb(124, 4, 0);
}

table{
    border-spacing: 30px;
    font-size: 20px;
}

#current{ 
    /* background-color: rgb(233, 182, 15) ; */
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: solid;
    font-weight: 600;
    color: rgb(0, 59, 40) ;
    text-align: center;
    padding: 7px;
}

.footer{
    background-color: rgb(124, 4, 0);
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: 90px;
    padding-top: 15px;
    padding-bottom: 15px;
}


fieldset{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 248, 234);
    border-radius: 30px;
    border-color: rgb(255, 203, 30);
    margin: 2%;
}

label{
    padding: 5px;
}

input{
    padding: 5px;
}

legend{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: rgb(124, 4, 0);
}

.genero{
    display: flex;
    flex-direction: row;
}

.grado{
    display: flex;
    flex-direction: row;
}


#boton{
    background-color: rgb(124, 4, 0) ;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(255, 217, 92);
    font-size: 25px;
    font-weight: 550;
    text-align: center;
    padding: 5px;
    border: solid 2px rgba(136, 2, 2, 0.705);
    border-radius: 5px;
    box-shadow: 5px 5px rgb(255, 203, 30);
    margin-bottom: 5%;
    position: absolute;
    right: 47%;
}

.boton{
    background-color: rgb(124, 4, 0) ;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(255, 217, 92);
    font-size: 25px;
    font-weight: 550;
    text-align: center;
    padding: 5px;
    border: solid 2px rgba(136, 2, 2, 0.705);
    border-radius: 5px;
    box-shadow: 5px 5px rgb(255, 203, 30);
    margin-bottom: 5%;
    position: absolute;
    right: 47%;
}


.ubicacion{
    display: flex;
    flex-direction: row;
}

.ubi1{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 40px;
}

.ubi2{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 40px;
}

.uniforme{
    display: flex;
    flex-direction: row;
}

.uni1{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 10px;
}

.uni2{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 10px;
}

#terms{
    text-align: justify;
}

.superior{
    display: flex;
    flex-direction: column;
}

form{
    font-size: 20px;
}